header {
    background-color: white;
    color: darkgrey;

    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;

    #logo {
        height: 80px;
    }

    ul li {
        list-style-type: none;
        margin: 0 8px;
        padding: 36px 0;

        &.active {
            border-bottom: 4px solid $primary;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }

}